# Ordinal categorical variables

Categorical variable which categories can be meaningfully ordered are called ordinal. For example:
- Student's grade in an exam (A, B, C or Fail).

- A ordinal variable, is one where the order matters but not the difference between values. For example, you might ask patients to express the amount of pain they are feeling on a scale of 1 to 10. A score of 7 means more pain that a score of 5, and that is more than a score of 3

# 1)-Importing key modules

In [1]:
#support both Python 2 and Python 3 with minimal overhead.
from __future__ import absolute_import, division, print_function

# I am an engineer. I care only about error not warning. So, let's be maverick and ignore warnings.
import warnings
warnings.filterwarnings('ignore')

In [2]:
# For data processing and maths
import numpy as np
import pandas as pd
import datetime
#For Visuals
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from matplotlib import rcParams
rcParams['figure.figsize'] = 11, 8
%config InlineBackend.figure_format = 'svg'
%matplotlib inline

# 2)- Creating dataset & applying encoding

In [3]:
base = datetime.datetime.today()
date_list = [base - datetime.timedelta(days=x) for x in range(0, 30)]
df = pd.DataFrame(date_list)
df.columns = ['day']
df.head()

                         day
0 2019-10-10 12:51:10.541122
1 2019-10-09 12:51:10.541122
2 2019-10-08 12:51:10.541122
3 2019-10-07 12:51:10.541122
4 2019-10-06 12:51:10.541122

In [4]:
# extract the week day name

df['day_of_week'] = df['day'].dt.weekday_name
df.head()

                         day day_of_week
0 2019-10-10 12:51:10.541122    Thursday
1 2019-10-09 12:51:10.541122   Wednesday
2 2019-10-08 12:51:10.541122     Tuesday
3 2019-10-07 12:51:10.541122      Monday
4 2019-10-06 12:51:10.541122      Sunday

In [5]:
# Engineer categorical variable by ordinal number replacement

weekday_map = {'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
}

df['day_ordinal'] = df.day_of_week.map(weekday_map)
df.head(5)

                         day day_of_week  day_ordinal
0 2019-10-10 12:51:10.541122    Thursday            4
1 2019-10-09 12:51:10.541122   Wednesday            3
2 2019-10-08 12:51:10.541122     Tuesday            2
3 2019-10-07 12:51:10.541122      Monday            1
4 2019-10-06 12:51:10.541122      Sunday            7

In [6]:
df.tail()

                          day day_of_week  day_ordinal
25 2019-09-15 12:51:10.541122      Sunday            7
26 2019-09-14 12:51:10.541122    Saturday            6
27 2019-09-13 12:51:10.541122      Friday            5
28 2019-09-12 12:51:10.541122    Thursday            4
29 2019-09-11 12:51:10.541122   Wednesday            3

This encoded variable can be used for model now.