# Date time Variable analysis

Helpful for EDA

# 1)- Importing key modules

In [29]:
#support both Python 2 and Python 3 with minimal overhead.
from __future__ import absolute_import, division, print_function

# I am an engineer. I care only about error not warning. So, let's be maverick and ignore warnings.
import warnings
warnings.filterwarnings('ignore')

In [30]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [31]:
# first install: pip install version_information
%reload_ext version_information
%version_information math, numpy, pandas,matplotlib

Software versions
Python 3.6.5 64bit [MSC v.1900 64 bit (AMD64)]
IPython 6.4.0
OS Windows 10 10.0.18362 SP0
math The 'math' distribution was not found and is required by the application
numpy 1.16.0
pandas 0.24.1
matplotlib 3.0.2
Sun Oct 06 15:21:14 2019 W. Europe Daylight Time

# 2)- Loading data file

In [32]:
# taking 1000 random samples out of bug dataset

data = pd.read_csv('loan.csv').sample(5000, random_state=2019)

In [33]:
data.shape

(5000, 145)

In [34]:
use_cols = ['issue_d', 'last_pymnt_d']
data = pd.read_csv('loan.csv', usecols=use_cols, nrows=5000)
data.head()

    issue_d last_pymnt_d
0  Dec-2018     Feb-2019
1  Dec-2018     Feb-2019
2  Dec-2018     Feb-2019
3  Dec-2018     Feb-2019
4  Dec-2018     Feb-2019

In [35]:
# Checking all variables with their data-type
def _tbl_dtype(dataset):
    sum_dtype = pd.DataFrame(dataset.dtypes).sort_values(0).rename(columns = {0:'Data Type'})
    return sum_dtype

table_dtype = _tbl_dtype(data)
table_dtype

             Data Type
issue_d         object
last_pymnt_d    object

### 2a)-parse the dates

let's parse the dates, currently coded as strings, into datetime format

In [36]:
data['issue_dt'] = pd.to_datetime(data.issue_d)
data['last_pymnt_dt'] = pd.to_datetime(data.last_pymnt_d)

In [37]:
table_dtype = _tbl_dtype(data)
table_dtype

                    Data Type
issue_dt       datetime64[ns]
last_pymnt_dt  datetime64[ns]
issue_d                object
last_pymnt_d           object

In [38]:
data[['issue_d','issue_dt','last_pymnt_d', 'last_pymnt_dt']].head()

    issue_d   issue_dt last_pymnt_d last_pymnt_dt
0  Dec-2018 2018-12-01     Feb-2019    2019-02-01
1  Dec-2018 2018-12-01     Feb-2019    2019-02-01
2  Dec-2018 2018-12-01     Feb-2019    2019-02-01
3  Dec-2018 2018-12-01     Feb-2019    2019-02-01
4  Dec-2018 2018-12-01     Feb-2019    2019-02-01

# 3)- Further exploring date time variables

### 3.1)- Extracting Month from variable

In [39]:
data['issue_dt_month'] = data['issue_dt'].dt.month

data[['issue_dt', 'issue_dt_month']].head()

    issue_dt  issue_dt_month
0 2018-12-01              12
1 2018-12-01              12
2 2018-12-01              12
3 2018-12-01              12
4 2018-12-01              12

In [40]:
data[['issue_dt', 'issue_dt_month']].tail()

       issue_dt  issue_dt_month
4995 2018-12-01              12
4996 2018-12-01              12
4997 2018-12-01              12
4998 2018-12-01              12
4999 2018-12-01              12

### 3.2)- Extract quarter

In [41]:
data['issue_dt_quarter'] = data['issue_dt'].dt.quarter

data[['issue_dt', 'issue_dt_quarter']].head()

    issue_dt  issue_dt_quarter
0 2018-12-01                 4
1 2018-12-01                 4
2 2018-12-01                 4
3 2018-12-01                 4
4 2018-12-01                 4

In [42]:
data[['issue_dt', 'issue_dt_quarter']].tail()

       issue_dt  issue_dt_quarter
4995 2018-12-01                 4
4996 2018-12-01                 4
4997 2018-12-01                 4
4998 2018-12-01                 4
4999 2018-12-01                 4

### 3.3)-extract semester

In [43]:
data['issue_dt_semester'] = np.where(data.issue_dt_quarter.isin([1,2]),1,2) # last arguement is givig values as 1 and 2
data.head()

,issue_d,last_pymnt_d,issue_dt,last_pymnt_dt,issue_dt_month,issue_dt_quarter,issue_dt_semester
0,Dec-2018,Feb-2019,2018-12-01,2019-02-01,12,4,2
1,Dec-2018,Feb-2019,2018-12-01,2019-02-01,12,4,2
2,Dec-2018,Feb-2019,2018-12-01,2019-02-01,12,4,2
3,Dec-2018,Feb-2019,2018-12-01,2019-02-01,12,4,2
4,Dec-2018,Feb-2019,2018-12-01,2019-02-01,12,4,2

**checking values with 2nd semester**

In [44]:
data[data.issue_dt_semester==2][['issue_dt','issue_dt_semester']].head()

    issue_dt  issue_dt_semester
0 2018-12-01                  2
1 2018-12-01                  2
2 2018-12-01                  2
3 2018-12-01                  2
4 2018-12-01                  2

### 3.4)-extract days

In [45]:
data['issue_dt_day'] = data['issue_dt'].dt.day

data[['issue_dt', 'issue_dt_day']].head()

    issue_dt  issue_dt_day
0 2018-12-01             1
1 2018-12-01             1
2 2018-12-01             1
3 2018-12-01             1
4 2018-12-01             1

In [46]:
data[['issue_dt', 'issue_dt_day']].tail()

       issue_dt  issue_dt_day
4995 2018-12-01             1
4996 2018-12-01             1
4997 2018-12-01             1
4998 2018-12-01             1
4999 2018-12-01             1

### 3.5)-day of the week 

from 0 to 6

In [47]:
data['issue_dt_dayofweek'] = data['issue_dt'].dt.dayofweek

data[['issue_dt', 'issue_dt_dayofweek']].head()

    issue_dt  issue_dt_dayofweek
0 2018-12-01                   5
1 2018-12-01                   5
2 2018-12-01                   5
3 2018-12-01                   5
4 2018-12-01                   5

In [48]:
data[['issue_dt', 'issue_dt_dayofweek']].tail()

       issue_dt  issue_dt_dayofweek
4995 2018-12-01                   5
4996 2018-12-01                   5
4997 2018-12-01                   5
4998 2018-12-01                   5
4999 2018-12-01                   5

### 3.6)- day of the week 


name

In [49]:
data['issue_dt_dayofweek'] = data['issue_dt'].dt.weekday_name

data[['issue_dt', 'issue_dt_dayofweek']].head()

    issue_dt issue_dt_dayofweek
0 2018-12-01           Saturday
1 2018-12-01           Saturday
2 2018-12-01           Saturday
3 2018-12-01           Saturday
4 2018-12-01           Saturday

### 3.7)- weekend information

In [50]:
data['issue_dt_is_weekend'] = np.where(data['issue_dt_dayofweek'].isin(['Sunday', 'Saturday']), 1,0)
data[['issue_dt', 'issue_dt_dayofweek','issue_dt_is_weekend']].head()

    issue_dt issue_dt_dayofweek  issue_dt_is_weekend
0 2018-12-01           Saturday                    1
1 2018-12-01           Saturday                    1
2 2018-12-01           Saturday                    1
3 2018-12-01           Saturday                    1
4 2018-12-01           Saturday                    1

In [51]:
data[data.issue_dt_is_weekend==1][['issue_dt', 'issue_dt_dayofweek','issue_dt_is_weekend']].head()

    issue_dt issue_dt_dayofweek  issue_dt_is_weekend
0 2018-12-01           Saturday                    1
1 2018-12-01           Saturday                    1
2 2018-12-01           Saturday                    1
3 2018-12-01           Saturday                    1
4 2018-12-01           Saturday                    1

In [52]:
data[data.issue_dt_is_weekend==0][['issue_dt', 'issue_dt_dayofweek','issue_dt_is_weekend']].head()

Empty DataFrame
Columns: [issue_dt, issue_dt_dayofweek, issue_dt_is_weekend]
Index: []

### 3.8)- extract year

In [53]:
data['issue_dt_year'] = data['issue_dt'].dt.year

data[['issue_dt', 'issue_dt_year']].head()

    issue_dt  issue_dt_year
0 2018-12-01           2018
1 2018-12-01           2018
2 2018-12-01           2018
3 2018-12-01           2018
4 2018-12-01           2018

### 3.9)-extract the date difference between two dates

In [54]:
(data['issue_dt'] - data['last_pymnt_dt'])[:5]

0   -62 days
1   -62 days
2   -62 days
3   -62 days
4   -62 days
dtype: timedelta64[ns]

In [55]:
# same as above capturing just the time difference
(data['last_pymnt_dt']-data['issue_dt']).dt.days.head()

0    62.0
1    62.0
2    62.0
3    62.0
4    62.0
dtype: float64

In [56]:
# or the time difference to today, or any other day of reference

(datetime.datetime.today() - data['issue_dt']).head()

0   309 days 15:21:53.805792
1   309 days 15:21:53.805792
2   309 days 15:21:53.805792
3   309 days 15:21:53.805792
4   309 days 15:21:53.805792
Name: issue_dt, dtype: timedelta64[ns]

In [57]:
(datetime.datetime.today() - data['issue_dt']).tail()

4995   309 days 15:30:05.648597
4996   309 days 15:30:05.648597
4997   309 days 15:30:05.648597
4998   309 days 15:30:05.648597
4999   309 days 15:30:05.648597
Name: issue_dt, dtype: timedelta64[ns]

Very common date differences used in the industry include "age" using "date of birth" and the "time of application" (i.e., how old was the applicant when they applied for a loan). Other examples include how long the applicant has lived at th declared address.