# Handling missing value

For numerical + categorical variable

# 1)-Importing key modules

In [1]:
#support both Python 2 and Python 3 with minimal overhead.
from __future__ import absolute_import, division, print_function

# I am an engineer. I care only about error not warning. So, let's be maverick and ignore warnings.
import warnings
warnings.filterwarnings('ignore')

In [2]:
# What's life without style :). So, let's add style to our dataframes
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
# For data processing and maths
import numpy as np
import pandas as pd
#For Visuals
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from matplotlib import rcParams
rcParams['figure.figsize'] = 11, 8
%config InlineBackend.figure_format = 'svg'
%matplotlib inline

# 2)-Loading data

In [4]:
df = pd.read_csv('weather_data.csv')
df.head()

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/4/2017          NaN        9.0  Sunny
2  1/5/2017         28.0        NaN   Snow
3  1/6/2017          NaN        7.0    NaN
4  1/7/2017         32.0        NaN   Rain

"NaN" is not a string, rather it's a special value: numpy.nan

In [5]:
# Checking all variables with their data-type
def _tbl_dtype(dataset):
    sum_dtype = pd.DataFrame(dataset.dtypes).sort_values(0).rename(columns = {0:'Data Type'})
    return sum_dtype

table_dtype = _tbl_dtype(df)
table_dtype

            Data Type
temperature   float64
windspeed     float64
day            object
event          object

In [6]:
type(df.day[0])

str

**We need to have it as datetime format.**

In [7]:
# formating time series
df = pd.read_csv("weather_data.csv",parse_dates=['day'])
df.head()

         day  temperature  windspeed  event
0 2017-01-01         32.0        6.0   Rain
1 2017-01-04          NaN        9.0  Sunny
2 2017-01-05         28.0        NaN   Snow
3 2017-01-06          NaN        7.0    NaN
4 2017-01-07         32.0        NaN   Rain

In [8]:
table_dtype = _tbl_dtype(df)
table_dtype

                  Data Type
day          datetime64[ns]
temperature         float64
windspeed           float64
event                object

In [9]:
type(df.day[0])

pandas._libs.tslibs.timestamps.Timestamp

**other method is to choose datetime library**

In [10]:
df.shape

(9, 4)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
day            9 non-null datetime64[ns]
temperature    5 non-null float64
windspeed      5 non-null float64
event          7 non-null object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 368.0+ bytes

### setting day as index

In [12]:
df.set_index('day',inplace=True)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

# 3)-Dealing with missing values

- Remove
- Fill with some number or category

### 3.1)- Drop values

In [13]:
df.isnull().sum()

temperature    4
windspeed      4
event          2
dtype: int64

In [14]:
df.dropna()

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [15]:
df.dropna(how='all')

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [16]:
df.dropna(thresh=1)

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

### 3.2)- Fill values

In [17]:
# duplicate dataframe
df2=df

## 3a)-fillna

In [18]:
df2=df2.fillna(0)
df2

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          0.0        9.0   Sunny
2017-01-05         28.0        0.0    Snow
2017-01-06          0.0        7.0       0
2017-01-07         32.0        0.0    Rain
2017-01-08          0.0        0.0   Sunny
2017-01-09          0.0        0.0       0
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

**It might be not a bad idea to use "0" for numerical data as it is number. But, for categorical data I wouldn't mean anything**

In [19]:
# solving issue of cat. variable

df2 = df.fillna({
        'temperature': 0,
        'windspeed': 0,
        'event': 'other'
    })
df2

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          0.0        9.0   Sunny
2017-01-05         28.0        0.0    Snow
2017-01-06          0.0        7.0   other
2017-01-07         32.0        0.0    Rain
2017-01-08          0.0        0.0   Sunny
2017-01-09          0.0        0.0   other
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

### forward fill (ffill)

carry forward the previous value to missing value i.e if last value is 32 then missing row will be filled with 32. If it is 28 then missing row will have 28.

In [20]:
df2 = df.fillna(method="ffill")
df2

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         32.0        9.0   Sunny
2017-01-05         28.0        9.0    Snow
2017-01-06         28.0        7.0    Snow
2017-01-07         32.0        7.0    Rain
2017-01-08         32.0        7.0   Sunny
2017-01-09         32.0        7.0   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

### backward fill (bfill)

In [21]:
df2 = df.fillna(method="bfill")
df2

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         28.0        9.0   Sunny
2017-01-05         28.0        7.0    Snow
2017-01-06         32.0        7.0    Rain
2017-01-07         32.0        8.0    Rain
2017-01-08         34.0        8.0   Sunny
2017-01-09         34.0        8.0  Cloudy
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

### Use limit for carry forward or backward

In [22]:
df2=df.fillna(method="ffill",limit=1)
df2

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         32.0        9.0   Sunny
2017-01-05         28.0        9.0    Snow
2017-01-06         28.0        7.0    Snow
2017-01-07         32.0        7.0    Rain
2017-01-08         32.0        NaN   Sunny
2017-01-09          NaN        NaN   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

## 3b)-Interpolate

Taking mean of 32 and 28 to get a value of 30 and filling missing value with that

In [23]:
new_df = df.interpolate()
new_df

            temperature  windspeed   event
day
2017-01-01    32.000000       6.00    Rain
2017-01-04    30.000000       9.00   Sunny
2017-01-05    28.000000       8.00    Snow
2017-01-06    30.000000       7.00     NaN
2017-01-07    32.000000       7.25    Rain
2017-01-08    32.666667       7.50   Sunny
2017-01-09    33.333333       7.75     NaN
2017-01-10    34.000000       8.00  Cloudy
2017-01-11    40.000000      12.00   Sunny

**For choosing one specific variable**

In [24]:
df.temperature.interpolate(method="linear") # method is by default option

day
2017-01-01    32.000000
2017-01-04    30.000000
2017-01-05    28.000000
2017-01-06    30.000000
2017-01-07    32.000000
2017-01-08    32.666667
2017-01-09    33.333333
2017-01-10    34.000000
2017-01-11    40.000000
Name: temperature, dtype: float64

In [25]:
new_df = df.interpolate(method="time") 
new_df

            temperature  windspeed   event
day
2017-01-01    32.000000       6.00    Rain
2017-01-04    29.000000       9.00   Sunny
2017-01-05    28.000000       8.00    Snow
2017-01-06    30.000000       7.00     NaN
2017-01-07    32.000000       7.25    Rain
2017-01-08    32.666667       7.50   Sunny
2017-01-09    33.333333       7.75     NaN
2017-01-10    34.000000       8.00  Cloudy
2017-01-11    40.000000      12.00   Sunny

**Filling categorical variables' values**

In [26]:
# fill in missing values with a specified value
new_df['event'].fillna(value='VARIOUS', inplace=True)
new_df

            temperature  windspeed    event
day
2017-01-01    32.000000       6.00     Rain
2017-01-04    29.000000       9.00    Sunny
2017-01-05    28.000000       8.00     Snow
2017-01-06    30.000000       7.00  VARIOUS
2017-01-07    32.000000       7.25     Rain
2017-01-08    32.666667       7.50    Sunny
2017-01-09    33.333333       7.75  VARIOUS
2017-01-10    34.000000       8.00   Cloudy
2017-01-11    40.000000      12.00    Sunny

## 3.3)- Time series gaps

In [27]:
df.index

DatetimeIndex(['2017-01-01', '2017-01-04', '2017-01-05', '2017-01-06',
               '2017-01-07', '2017-01-08', '2017-01-09', '2017-01-10',
               '2017-01-11'],
              dtype='datetime64[ns]', name='day', freq=None)

2 and 3 April dates are missing. Let's fill them.

In [28]:
dt = pd.date_range("01-01-2017","01-11-2017")
idx = pd.DatetimeIndex(dt)
df.reindex(idx)

            temperature  windspeed    event
2017-01-01         32.0        6.0     Rain
2017-01-02          NaN        NaN      NaN
2017-01-03          NaN        NaN      NaN
2017-01-04          NaN        9.0    Sunny
2017-01-05         28.0        NaN     Snow
2017-01-06          NaN        7.0  VARIOUS
2017-01-07         32.0        NaN     Rain
2017-01-08          NaN        NaN    Sunny
2017-01-09          NaN        NaN  VARIOUS
2017-01-10         34.0        8.0   Cloudy
2017-01-11         40.0       12.0    Sunny

Though we get all null values in filled dates yet it is good to have all records.

We may use above mentioned technique to fill or remove missing values

### 3.4)- Apply imputation

Separate numerical and categorical data

In [29]:
df_num=df.drop(['event'], axis=1)

In [30]:
df_num

            temperature  windspeed
day
2017-01-01         32.0        6.0
2017-01-04          NaN        9.0
2017-01-05         28.0        NaN
2017-01-06          NaN        7.0
2017-01-07         32.0        NaN
2017-01-08          NaN        NaN
2017-01-09          NaN        NaN
2017-01-10         34.0        8.0
2017-01-11         40.0       12.0

In [31]:
from sklearn.preprocessing import Imputer

imp=Imputer(missing_values='NaN', strategy='mean', axis=0)
imp.fit(df_num)

C:\Users\69785hsh\AppData\Roaming\Python\Python36\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)

In [32]:
df_num2=pd.DataFrame(data=imp.transform(df_num),columns=df_num.columns)

In [33]:
df_num2

   temperature  windspeed
0         32.0        6.0
1         33.2        9.0
2         28.0        8.4
3         33.2        7.0
4         32.0        8.4
5         33.2        8.4
6         33.2        8.4
7         34.0        8.0
8         40.0       12.0

In [34]:
df_num2.isnull().sum()

temperature    0
windspeed      0
dtype: int64